h1,
h2,
h3,
h4 {
  font-family: 'Avenir Next LT Pro Bold';
}

h1 {
    font-size: 283px;
}

h2 {
    font-size: 67px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 38px;
}

h5 {
    font-size: 28px;
}